<header>
  <nav class="navbar fixed-top p-0 shadow">
    <p class="navbar-brand col-sm-12 col-md-12 mr">E-Learning System</p>
  </nav>
</header>

<style>
header{
  position: fixed;
  width: 100%;
  height: 50px;
}
</style>
