// main_image
.main_image{
  // background-image: url('main_image.jpg');
  background: linear-gradient(90deg, rgba(103, 255, 255, 0.6), rgba(40,40,128,0.6)), url('main_image.jpg');
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 600px;
  padding-top: 50px;
}

.main_image_box{
  padding-top:200px;
  color: #fff;
}

.main_image_title{
  font-size: 50px;
  margin-bottom: 20px;
}

.main_image_btn{
  padding-top: 40px;
}

// main
.main_title{
  font-size: 30px;
  margin-bottom: 20px;
}

.user_activity{
  padding: 40px;
}
.center{
  margin: 0 auto;
}

.user_image_top{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.left{
  float: left;
}

.sidebar_content {
  padding: 5px 0;
}
.sidebar_content_last {
  padding: 5px 0 10px;
}