// SignIn & Login
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

// MyPage
.user_details{
  padding: 40px;
}
.thumbnail{
  margin-bottom: 20px;
}
.user_image{
  max-height:250px;
  max-width:250px;
}
.user_main_image{
  background: linear-gradient(90deg, rgba(103, 255, 255, 0.6), rgba(40,40,128,0.6)), url('user.jpg');
  background-size: cover;
  background-position: center 55%;
  width: 100%;
  height: 300px;
  padding-top: 50px;
  text-align: center;
}
.user_title{
  font-size: 50px;
  color: #fff;
  margin-top: 100px;
}

// User Page
.user_index_image{
  max-height:150px;
  max-width:150px;
}
.card-body{
  // height: 150px;
}

.user_all_main_image{
  background: linear-gradient(90deg, rgba(103, 255, 255, 0.6), rgba(40,40,128,0.6)), url('user_all.jpg');
  background-size: cover;
  background-position: center 40%;
  width: 100%;
  height: 300px;
  padding-top: 50px;
  text-align: center;
}
.user_all_title{
  font-size: 50px;
  color: #fff;
  margin-top: 100px;
}
// Common
.user_activity{
  padding: 40px;
}

.gradient-border::after {
    content: "";
    display: block;
    height: 3px;
    width: 20vw;
    margin: 15px auto auto;
    background: linear-gradient(75deg, rgb(103, 255, 255),rgb(40,40,128));
}

// btn
.follow_btn, .edit_btn{
  width: 100%;
  margin-top: 20px;
}

.left{
  float: left;
}
.user_image_small{
  height:100px;
  width:100px;
  border-radius: 50%;
}

.sidebar_content {
  padding: 5px 0;
}
.sidebar_content_last {
  padding: 5px 0 10px;
}