// for container
.pt50 {
  padding-top: 50px;
}

// SignIn & Login
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

// MyPage
.user_details{
  padding: 40px;
}
.thumbnail{
  margin-bottom: 20px;
}
.user_image{
  max-height:250px;
  max-width:250px;
}

// User Page
.user_index_image{
  max-height:150px;
  max-width:150px;
}
.card-body{
  height: 150px;
}

// Common
.user_activity{
  padding: 40px;
}

.gradient-border::after {
    content: "";
    display: block;
    height: 3px;
    width: 20vw;
    margin: 15px auto auto;
    background: linear-gradient(75deg, rgb(103, 255, 255),rgb(40,40,128));
}
