// Place all the styles related to the Lessons/Lesson_words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.choice_title{
  font-size: 30px;
  margin-bottom: 20px;
}

.choice_content{
  margin: 0 auto;
}
.choice{
  margin: 20px 0;  
}
